<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.behere.system.dao.RoleMenuDao">

	<select id="get" resultType="com.behere.system.domain.RoleMenuDO">
		select id,role_id,menu_id from
		sys_role_menu where id = #{value}
	</select>

	<select id="list" resultType="com.behere.system.domain.RoleMenuDO">
		select id,role_id,menu_id from sys_role_menu
		<where>
			<if test="id != null and id != ''"> and id = #{id} </if>
			<if test="roleId != null and roleId != ''"> and role_id = #{roleId} </if>
			<if test="menuId != null and menuId != ''"> and menu_id = #{menuId} </if>
		</where>
		<choose>
			<when test="sort != null and sort.trim() != ''">
				order by ${sort} ${order}
			</when>
			<otherwise>
				order by id desc
			</otherwise>
		</choose>
	</select>

	<select id="count" resultType="int">
		select count(*) from sys_role_menu
		<where>
			<if test="id != null and id != ''"> and id = #{id} </if>
			<if test="roleId != null and roleId != ''"> and role_id = #{roleId} </if>
			<if test="menuId != null and menuId != ''"> and menu_id = #{menuId} </if>
		</where>
	</select>

	<insert id="save" parameterType="com.behere.system.domain.RoleMenuDO"
		useGeneratedKeys="true" keyProperty="id">
		INSERT INTO SYS_ROLE_MENU
		<trim prefix="(" suffix=")" suffixOverrides="," >
		ID
		<if test="roleId !=null">
		,ROLE_ID
		</if>
		<if test="menuId !=null">
		,MENU_ID
		</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
		#{id}
		<if test="roleId !=null">
		,#{roleId}
		</if>
		<if test="menuId !=null">
		,#{menuId}
		</if>
		</trim>
	</insert>

	<update id="update" parameterType="com.behere.system.domain.RoleMenuDO">
		UPDATE SYS_ROLE_MENU
		<set>
		<if test="roleId !=null and roleId !=''">
		ROLE_ID=#{roleId},
		</if>
		<if test="menuId !=null and menuId != '' ">
		MENU_ID=#{menuId}
		</if>
		</set>
		where ID = #{id}
	</update>

	<delete id="remove">
		delete from sys_role_menu where id = #{value}
	</delete>

	<delete id="batchRemove">
		delete from sys_role_menu where id in
		<foreach item="id" collection="array" open="(" separator=","
			close=")">
			#{id}
		</foreach>
	</delete>

	<select id="listMenuIdByRoleId" resultType="String">
		select menu_id from sys_role_menu
		<where>role_id = #{roleId}</where>
	</select>

	<delete id="removeByRoleId">
		DELETE FROM sys_role_menu WHERE role_id=#{roleId}
	</delete>

	<delete id="removeByMenuId">
		DELETE FROM sys_role_menu WHERE menu_id=#{menuId}
	</delete>

	<insert id="batchSave">
		INSERT INTO sys_role_menu(id,role_id, menu_id) values
		<foreach item="item" index="index" collection="list"
			separator=",">
			(#{item.id},#{item.roleId},#{item.menuId})
		</foreach>
	</insert>
</mapper>